.main-div {
    padding: 10px;
    float: none;
    position: relative;
    overflow: hidden;
    width: 68%;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #dbdfe8;
    display: flex;
}
.input_feild {
    width: auto;
    float: left;
}
.input_feild input[type=file] {
    position: absolute;
    height: 103%;
    top: -4px;
    width: 100%;
    cursor: pointer;
    z-index: 9999999;
    opacity: 0;
    left: 5px;
}

.onclick_image {
    float: left;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.onclick_image img {
    width: 255px !important;
    height: 250px !important;
}
.kt-portlet .kt-portlet__foot{border:none !important;
padding:0px !important;}

.kt-portlet.kt-portlet--mobile.profile-div {
    width: 350px;
}