.main-div {
	
padding: 10px;
	
float: none;
	
position: relative;
	
overflow: hidden;
	
width: 59%;
	
margin: auto;
	
border-radius: 50%;
	
border: 3px solid #dbdfe8;
	
display: flex;
}
.input_feild {
    width: auto;
    float: left;
}
.input_feild input[type=file] {
    position: absolute;
    height: 103%;
    top: -4px;
    width: 100%;
    cursor: pointer;
    z-index: 9999999;
    opacity: 0;
    left: 5px;
}

.onclick_image {
    float: left;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.onclick_image img {
    width: 115px !important;
    height: 115px !important;
}
.kt-portlet .kt-portlet__foot{border:none !important;
padding:0px !important;}



/* 15/7/2019 */
.kt-portlet.kt-portlet--mobile.profile-div {
    width: 350px;
	margin:0 auto;
}
#add_user label {
    margin: 9px 0px;
}
#add_user .kt-form__actions {
    margin: 20px 0px;
}
#add_user .kt-form__actions button {
    margin-right: 20px;
    padding: 6px 20px;
    border-radius: 5px;
}
